* {
    font-family: Arial;
}

ul.tab {
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    /* align text to the middle*/
}

ul.tab li {
    display: inline;
    float: left;
    background-color: #E6E6E6;
    text-decoration: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-style: solid;
    border-color: #000;
    border-width: thin;
    border-bottom: none;
    width: 24.7%;
    text-align: center;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 17px;
}

ul.tab li.active {
    background-color: white;
}

div.content {
    margin-left: 125px;
    margin-top: 0;
    padding: 20px 25px;
    height: 380px;
    overflow-y: auto;
    border-style: solid;
    border-width: thin;
}

ul.navbar {
    list-style-type: none;
    /*remove bullets*/
    margin-top: 0;
    margin: 0;
    padding: 0;
    border-style: solid;
    width: 120px;
    position: absolute;
}

ul.navbar li {
    display: block;
    color: #000;
    cursor: pointer;
    padding: 12px 8px;
    text-decoration: none;
}

ul.navbar li.active {
    border-top: solid;
    border-bottom: solid;
    background-color: #E6E6E6;
}

ul.navbar li.active:last-child {
    border-bottom: none;
}

ul.navbar li.active:first-child {
    border-top: none;
}

.underline {
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    display: block;
}
