div#footer {
    display: flex;
    justify-content: space-around;
    font-family: Arial;
    color: white;
    background-color: #0097FB;
    border-bottom: 3px solid #004DAC;

    margin-top: 10px;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;

    list-style-type: none;
    overflow: hidden;
}

::slotted(li) {
    color: white;
    line-height: 50px; /* align text to the middle*/
}
